.Text{
    display: inline;
    color: white;
}
body{
    background-color: black;
    height: 98vh;
    overflow: hidden;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Main-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 35px;
}
.Header{
    height: 15%;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.Main-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 35px;
    margin-top: 10px;
}
button{
    padding: 8px;
    border-radius:20px ;
}
#Button-1{
    color: red;
    background-color: white;
    border: 1px solid red;
}
#ButtonAdd1{
    color: rgb(0, 255, 72);
    background-color: white;
    border: 1px solid rgb(0, 255, 72);
}
#resetButton{
    color: blacks;
    background-color: white;
    border: 1px solid #808080;
}
